@import "./sass/helpers/variables.scss";
html {
  scroll-behavior: smooth;
}
.dominating-color{
  color: $dominating-color;
}

.navbar{
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

div.carousel {
  border-width: 0.25rem !important;
}
.dominating-background-color{
  background-color: $dominating-color !important;
}

.border-dominating-color{
  border-color: $dominating-color !important;
}

.border-width-small {
  border-width: 3px !important;
}

.border-width-large {
  border-width: 6px !important;
}

.contact-container{
  a {
    i:hover {
      color:white;
      background-color: $dominating-color;
    }
  }
}

.footer-contact{
  a {
    i:hover {
      color:#5bc0de !important;
      background-color: transparent;
    }
  }
}
.nav-item{
  .nav-link:hover {
    color:#d3d5f3 !important;
  }
}

a:hover{
  text-decoration: none;
}

.skill-cell:hover{
  @extend %hover;
}
.skill-cell{
  background-color: $dominating-color;
  height: 50px;
}

.project-button{
  background-color: $dominating-color;
  color:white;
  height: 40px;
}
.project-button:hover{
  @extend %hover;
}

.fade-in{
  animation-name: fade-in;
  animation-duration: 3.5s;
}
@-webkit-keyframes fade-in {
  from {opacity:0;  }
  to {opacity:1;  }
}
@-o-keyframes fade-in {
  from {opacity:0;  }
  to {opacity:1;  }
}
@-moz-keyframes fade-in {
  from {opacity:0;  }
  to {opacity:1;  }
}
@keyframes fade-in {
  from {opacity:0;  }
  to {opacity:1;  }
}

.navbar-brand{
  cursor: pointer;
}

.website-img{
  transition: transform .4s; /* Animation */
}
.website-img:hover{
  transform: scale(1.11);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
