@import "../../sass/helpers/variables.scss";
.skill-cell{
  background-color: $dominating-color;
  height: 50px;
}
.row{
  .rounded{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
