header .jumbotron{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  background: #f8f9fa url(outdoor-silhouette-sky-night-star-milky-way.jpg) no-repeat center center fixed;
  background-size: cover;
  height:100vh;
  align-items: center;
  margin-bottom: 0;
}
